
.ui.form {

  .fields .field {
    position: relative;
  }

  .ui.pointing.label {
    position: absolute;
    right: 0.5em;

    &.below {
      top: -13px;
    }

    &.above {
      top: 63px;
    }

  }

}


main.login-layout {
  background: linear-gradient(45deg, #ACBB78, #F7F8F8);
  min-height: 100vh;
}